@import "../../global/style/style-variables.scss";

#game {
  width: 100%;
  max-width: var(--game-max-width);
  margin: 0 auto;
  height: 100%;
  display: flex;
  flex-direction: column;
}
body {
  height: 100vh;
  background-color: #673AB7;
  background-image: linear-gradient(180deg, #673AB7 0%, #512DA8 90%);
  margin: 0;
  padding: 0;
  overflow-y: hidden;
}
